/* Цвет основного текста /чёрный/ #212121 */
/* Цвет вторичного текста /серый/ #757575 */
/* Цвет акцента /синий/ #2196F3 */
/* Цвет текста /белый/ #FFFFFF */
/* Цвет футера rgba(255, 255, 255, 0.6 */
/* Цвет основного фона /белый/ #FFFFFF */
/* Вторичный цвет фона /приглушенно серый/ наша команда #F5F4FA */
/* Цвет фона заголовка и футера /серый/ #2F303A */

:root {
  --logo-color: #000000;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-background: #f5f4fa;
  --white-color: #fff;
  --primary-text-color: #212121;
  --color-footer: rgba(255, 255, 255, 0.6);
  --background-footer: #2f303a;
  --icons-color: #afb1b8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: var(--white-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.accent {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: 1px solid red; */
}

.list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.address {
  font-style: normal;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: none;
  padding: 10px 32px;
  border-radius: 4px;

  margin-top: 30px;
  min-width: 200px;
  cursor: pointer;
}

.button-list {
  min-width: auto;
  padding: 6px 22px;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------- HEADER ---------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
}

.logo {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header .logo {
  display: flex;
  align-items: center;
}

.site-nav,
.site-contacts {
  display: flex;
}

.site-nav .item:not(:last-child),
.site-contacts .item:not(:last-child) {
  margin-right: 50px;
}

.style {
  margin-left: 93px;
}

.site-contacts {
  margin-left: auto;
}

/* site-nav */

.header-link {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.header-link:hover,
.header-link:focus,
.site-contacts .header-link:hover,
.site-contacts .header-link:focus {
  color: var(--accent-color);
}

.header-link.active {
  color: var(--accent-color);
}

.site-contacts .header-link {
  color: var(--secondary-text-color);
}

/* ------------- HERO ---------- */

.hero {
  text-align: center;

  padding-bottom: 200px;
  padding-top: 200px;
  background-size: cover;

  background-color: var(--background-footer);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/effect\ descisions.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);

  text-transform: uppercase;
}

/* ------------- BENEFITS ---------- */

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits-list {
  display: flex;
}

.benefits-item {
  width: 270px;
  margin-right: 30px;
}

.benefits-item:last-child {
  margin-right: 0;
}

.benefits-item::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  background-color: var(--secondary-background);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.benefits-item.item-satellite::before {
  background-image: url(../images/satellite.svg);
  background-size: 65.32px 70px;
}

.benefits-item.item-clock::before {
  background-image: url(../images/clock.svg);
  background-size: 66.96px 70px;
}

.benefits-item.item-diagram::before {
  background-image: url(../images/diagram.svg);
  background-size: 70px 53.69px;
}

.benefits-item.item-astronaut::before {
  background-image: url(../images/astronaut.svg);
  background-size: 54.83px 60.66px;
}

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  width: 270px;
  height: 16px;
}

.benefits-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  width: 270px;
  height: 75px;
  margin-top: 10px;
}

/* ------------- WORK ---------- */

.work {
  padding-bottom: 94px;
}
.work-list {
  display: flex;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);

  margin-bottom: 50px;
  margin-top: 0px;
}

.section-title-center {
  text-align: center;
  margin-right: 0px;
}

.work-item {
  margin-right: 30px;
  width: 370px;
}

.work-item:last-child {
  margin-right: 0;
}

/* ------------- TEAM ---------- */

.team {
  background-color: var(--secondary-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.card {
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list > .team-item {
  margin-right: 30px;
  text-align: center;
  flex-basis: calc(100% / 3 - 30px);
  width: 200px;
}

.team-item:last-child {
  margin-right: 0;
}

.team-list {
  display: flex;
}

.team-content {
  padding: 30px 0;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.team-soc-item:last-child {
  margin-right: 0px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: var(--white-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-soc-icon {
  fill: var(--icons-color);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}

.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--white-color);
}

/* ------------- FOOTER ---------- */

.footer {
  background-color: var(--background-footer);
  text-decoration: none;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  color: var(--white-color);
  margin-bottom: 20px;
  display: inline-block;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
  margin-top: 20px;
}

.footer-link-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link:hover,
.footer-link:focus,
.footer-link.white:hover,
.footer-link.white:focus {
  color: var(--accent-color);
}

.footer-link.white {
  color: var(--white-color);
}

.follow-us-title {
  margin-bottom: 20px;
  margin-top: 0;

  font-style: normal;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

/*--------PORTFOLIO--------*/

img {
  display: block;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  padding: 0px;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 50px;
}

.portfolio-button-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-set {
  display: flex;
  flex-wrap: wrap; /*многостроковий flex-контейнер*/
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-set > .item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.header-link {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-link:hover,
.header-link:focus,
.site-contacts .header-link:hover,
.site-contacts .header-link:focus {
  color: var(--accent-color);
}

.header-link.active {
  color: var(--accent-color);
}

.site-contacts .header-link {
  color: var(--secondary-text-color);
}

.button-help:hover,
.button-help:focus,
.button-help.active {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.pointer {
  cursor: pointer;
}

.button-help {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  background-color: var(--secondary-background);
  cursor: pointer;
  border: none;
}

.portfolio-content {
  padding: 20px 24px;
  border: 1px solid #ececec;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  width: 322px;
  height: 36px;
  margin-bottom: 4px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);

  width: 322 px;
  height: 30px;
}
